/*Применяется к селектору body*/
body {
    background: #e3dac0;
}
/*Применяется ко всем селекторам h1*/
h1 {
    color: #86d236;
}
/*Применяется к селектору где id = myId*/
#myId {
    color: #d94d1b;
}
/*Применяется к селектору где класс = myClass*/
.myClass {
    color: #1bc9d9;
}
/*Применяется к селектору i идущему после селектора h4*/
h4 i {
    color: blue;
}
/*Применяется к селектору h1, где класс = myClass1*/
h1.myClass1 {
    color: #1bc9d9;
}
/*Применяется к селектору strong и селектору b*/
strong, b {
    color: #12932e;
}
