div ol {
    width: 200px;
    height: 100px;
    background-color: yellow;
    border-radius: 7px;
    color: red;
    list-style-type: lower-latin;/*будут мелкие буквы a,b,c,d...*/
}

div ul {
    /*по дефолту ul будут заполненные кружки (точки)*/
    width: 200px;
    height: 100px;
    background-color: yellow;
    border-radius: 7px;
    color: red;
    list-style-position: inside;/*добавляет небольшое расстояние слева*/
}
